head {
    width:100%;
    position: fixed;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    background: #FFF; 
    margin: 0%;
    align-items: center;
}
  
  /* Add a black background color to the top navigation */
.topnav {
    margin: 2%;
    background-color: white;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    transition: max-height .5s ease-out
}

.navButton {
    display: block;
}

  /* Style the links inside the navigation bar */
.navButton a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.navButton a:hover {
    background-color: rgb(255,255,255);
    color: black; 
}
  
  /* Add an active class to highlight the current page */
.navButton a.active {
    text-decoration: underline;
    color: black; 
}
  
  /* Hide the link that should open and close the topnav on small screens */
.navButton .icon {
    display: none; 
}
  
.headerImage{
    width: 100%;
    object-fit: fill;
    background-image: url("../assets/header_image.png");
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta {
    background-color: #FAFAFA;
}

.cta, .imageGrid .imageGrid_text {
    margin: 10%;
    text-align: center;
}

.cta h2, .imageGrid h2 {
    font-weight: 200;
    font-size: 48px;
    margin: 0.13em;
}

.cta button, .imageGrid button {
    background-color: rgb(68,138,255); /* Green */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.imageGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navFooter {
    display: flex;
    flex-direction: column;
}

.navFooter a {
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.navFooter a:hover {
    color: black; 
    text-decoration: underline;
}

.footerSocial {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerSocialInternal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.text, .social {
    text-align: end;
}

.social {
    font-size: 36px;
}

.footer h1 {
    text-align: center;
}

// Cart Page
.shopping-cart {
    width: 750px;
    height: 50%px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }

  .title {
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
   
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 10px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  .total-price {
    width: 83px;
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

@media screen and (max-width: 600px) {
    .navButton a {display: none;}
    .navButton a.icon {
        float: right;
        display: block;
    }

    .headerImage img{
        object-fit: fill;
        width: max-content;
    }

    .imageGrid {
        flex-direction: column-reverse;
    }

    .footer {
        flex-direction: column;
    }

    .footerSocialInternal {
        align-items: center;
    }

    .text, .social {
        text-align: center;
    }
    
}

@media screen and (max-width: 600px) {
    .navButton.responsive {position: relative;}
    .navButton.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navButton.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
  }